<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css">

</head>
<body>
    <div class="cards">
    <div class="card">
        <h3>Total Confirmed: <%= data.TotalConfirmed %> </h3>
        <h3>Total Deaths: <%= data.TotalDeaths %> </h3>
        <h3>Total Recovered: <%= data.TotalRecovered %> </h3>


        <form action="/getCountryResult" method="GET">
            <input type="text" name="country" >
            <input type="date" name="from" >
            <input type="date" name="to" >
            <input type="submit" value="submit">

        </form>
    </div>
</div>
</body>
</html>